@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



body {
    font-family: 'Raleway', sans-serif;
    margin : 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

header {
    position:relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    height: 60px;
    background-color:transparent;

}

header.sticky{
    position: fixed;
    width: 100%;
    background-color: #6d6565;   
}


header.logo {
    float: left;
    padding:0px;
    margin:0px;
    position: absolute;

}

header .logo a {
    font-size: 30px;
    color: #a89d3a;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute;
    display: inline-block;
    top: 10px;
}

.trigger-main{
    display: none;
}

header .logo a span {
    color: #1b8bf3;
}

header .navbar {
    float: right;
    padding: 0;
}

header .navbar ul {
    list-style: none;
    padding-top: 15px;
}

header .navbar ul li {
    display: inline;
    padding:15px;
    margin:auto;
}

header .navbar ul li a {
    display: inline-block;
    padding-bottom:4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #a89d3a;
    position: relative;
}

header .navbar ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top:-5px;
    height: 2px;
    left: 0px;
    background-color: #1b8bf3;
    width: 0;
    transition:width .5s ease;
    
}
header .navbar ul li a.active::before {
    width: 100%;
} 
header .navbar ul li a:hover::before {
    width: 100%;
}
.home {
    min-height: 100vh;
    background-image: url("image/home-big.png");
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
    
}

.home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff; 
    opacity: 0;
   
}

.home .home-text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: auto;
    z-index: 10;
}

.home .home-text h1 {
    font-size: 35px;
    color:#a89d3a;
    margin: 10px 0px;
    font-weight: 400;
    animation : slideLeft 1.5s ease;
}

.home .home-text h3 {
    font-size: 60px;
    color: #1b8bf3;
    margin: 15px 0px 0px;
    font-weight: 700px;
    animation : slideRight 1.5s ease;
}
@media only screen and (max-width:1024px) {
    .home {
      width: 100%;
      padding: 0;
    }
  }

@media only screen and (max-width:800px) {
  /* For tablets: */
  .home {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .home{
    width: 100%;
  }
}

@keyframes slideLeft {
    0% {transform: translateX(-100%); opacity:0}
    100%{transform: translateX(0); opacity:1}
}
@keyframes slideRight {
    0% {transform: translateX(100%); opacity:0}
    100%{transform: translateX(0); opacity:1}
} 

/* about section */

.about{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color:#ffffff;
}

h2.title{
    font-size: 30px;
    font-weight: 600px;
    margin:0;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color:#1b8bf3;
    position: relative;
    letter-spacing: 2px;
}


.about h2.title::before{
    content:'';
    position: absolute;
    width: 170px;
    height: 2px;
    margin-right: 7%;
    top: 140px;
    background-color: #1b8bf3;
}

.education h2.title::before{
    content:'';
    position: absolute;
    width: 190px;
    height: 2px;
    margin-right: 7%;
    top: 140px;
    background-color: #1b8bf3;
}

.contact h2.title::before{
    content:'';
    position: absolute;
    width: 210px;
    height: 2px;
    margin-right: 7%;
    top: 140px;
    background-color:#1b8bf3;
}

.Projects h2.title::before{
    content:'';
    position: absolute;
    width: 160px;
    height: 2px;
    margin-right: 7%;
    top: 140px;
    background-color: #1b8bf3;
}

.skills h2.title::before{
    content:'';
    position: absolute;
    width: 110px;
    height: 2px;
    margin-right: 7%;
    top: 140px;
    background-color: #1b8bf3;
}
.about .about-content {
    width: 100%;
    float: left;
}
.about .about-content .img{
    float: right;
    width: 35%;
    margin-top:10px;
    padding-right: 40px;
}

.about .about-content .img img{
    width: 100%;
}

.about .about-content .description1{
  float: left;
  width: 65%; 
}

  .about .about-content .description1{
    float: left;
    width: 60%;
    padding: 15px;
  }

.about .about-content .description1 h4{
    font-size:20px;
    color:#291c1cd0;
    margin: 0;
    padding-bottom:10px;
    font-weight: 400;
}

.about .about-content .description1 h5{
    font-size:25px;
    color:#291c1cd0;
    margin: 0;
    padding-bottom:10px;
    font-weight: 600;
}

.about .about-content .description1 p{
    font-size:18px;
    font-weight: 400;
    color:#291c1cd0;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
}

 .about .about-content .description2{
    float: left;
    width: 100%;
    padding: 15px;
  }
 .about .about-content .description2 p{
    font-size: 18px;
    font-weight: 400;
  }

  @media only screen and (max-width:1024px) {
    .about .about-content .img{
        float: right;
        width: 35%;
        margin-top:10px;
        padding-right: 40px;
    }
    .about .about-content .description1{
            float: left;
            width: 65%; 
          }
    
    .about .about-content .description2{
            float: left;
            width: 100%;
            padding: 15px;
          }
     
  }
@media only screen and (max-width:800px) {
  /* For tablets: */
  .about .about-content .img {
    width: 90%;
  }
    .about .about-content .description1,
    .about .about-content .description2{
        width: 95%;
        padding-left: 50px;
    }
   
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
 .about .about-content .img {
    width: 98%;
    padding-left:1%;
    
  }
  .about .about-content .description1,
  .about .about-content .description2 {
    width: 90%;
    padding:10px;
    }
}

.btn-bg{
    padding: 10px 40px;
    border-radius: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    background-color:#1b8bf3;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all .5s ease;
}

.btn-bg:hover{
    border: 1px solid #1b8bf3;
    background-color:transparent;
    color:#1b8bf3;

}

.btn-light{
    padding: 10px 40px;
    border-radius: 0;
    font-size: 16px;
    color: #1b8bf3;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #1b8bf3;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-light:hover{
    color: #ffffff;
    background-color: #1b8bf3;
}


/*Education*/

.education {
    float: left;
    width: 100%;
    background-color:  #fbfbfb;
}


.education .education-content {
    width: 100%;
    float: left;
    padding: 0;
}

.education .education-content .card {
    width: 33.33%;
    float: left;
    padding: 15px; 
}

.education .education-content .card .box {
    background-color: #ebe3e3;
    padding: 30px;
    position: relative;
    max-height: 330px;
}

.education .education-content .card .box::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 0;
    background-color: #1b8bf3;
    z-index: 1;
    transition: width .5s ease;
}

.education .education-content .card .box:hover::before {
    width: 100%;
}

.education .education-content .card .box .icon {
    text-align: center;
    font-size: 40px;
    color: #1b8bf3;
}

.education .education-content .card .box h3 {
    font-size: 20px;
    color: #4f6e8a;
    text-align: center;
    margin:10px 0; 
    font-weight: 600;
    min-height: 60px;
}

.education .education-content .card .box p {
    font-size:16px;
    font-weight: 400;
    color:#3f3c41;
    line-height: 25px;
    text-align: center;
    min-height: 60px;
}

@media (max-width:800px) {
  /* For tablets: */
    
    .education .education-content .card {
        width: 50%;
          
     }
    .education .education-content {
        width: 100%;  
    }
    education .education-content .card .box p {
        min-height: 60px;
    }
    .education .education-content .card .box h3{
        min-height: 60px;
    }
    .education .education-content .card .box {
        min-height: 300px;
    }
}

   

@media only screen and (max-width:500px) {
  /* For mobile phones: */
    .education .education-content .card {
        width: 100%; 
        
    }
    .education .education-content {
        width: 100%;
      
    }
}

/*Skills Section*/

.skills{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fcfcfc;
}

.skills .skills-content .card {
    width: 50%;
    float: left;
    padding: 20px;
}

.skills .skills-content .card label {
    font-size: 16px;
    color: #3f3c41;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.skills .skills-content .card .progress {
    height: 10px;
    width: 100%;
    border-radius: 4px;
    background-color:#3f3c41;
    margin: 5px 0;
    position: relative;
}

.skills .skills-content .card .progress .inner {
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    background-color: #1b8bf3;
}

.skills .skills-content .card .progress::before {
    content: attr(data-text);
    position: absolute;
    right: 0px;
    top: -20px;
    color: #3f3c41;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width:1024px) {
    /* For tablets: */
  
    .skills .skills-content .card {
        width: 50%;
        float: left;
        padding: 20px;
    }
  }

@media only screen and (max-width:800px) {
  /* For tablets: */

  .skills .skills-content .card {
    width: 95%;
    float: center;
    }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .skills .skills-content .card {
    width: 100%;
    float: center;
}
}

.projects{
    float: left;
    width: 100%;
    background-color: #fafafa;
}

.projects .projects-content {
    float: left;
    width: 100%;
}

.projects .projects-content .card {
    float: left;
    width:33.3%;
    padding: 15px;
}


.projects .projects-content .card .box {
    background-color: #ebe3e3;
    max-height: 400px;

}

.projects .projects-content .card .box h3 {
    margin: 0;
    padding: 10px;
    color: #4f6e8a;
    font-size: 20px;
    font-weight: 600;
    max-height: 30px;
    
}
.projects .projects-content .card .box h4 {
    margin: 0;
    padding: 8px;
    color: #3f3c41;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    max-height: 30px;
   
}
.projects .projects-content .card .box img {
    width: 100%;
    display: block;
    padding:0;
}
@media only screen and (max-width:1024px) {
    /* For tablets: */
  
    .projects .projects-content .card {
        float: left;
        width:33.3%;
        padding: 10px;
    }
  }

@media only screen and (max-width:800px) {
  /* For tablets: */

  .projects .projects-content .card {
    width:50%;
}
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
.projects .projects-content .card {
    width:100%;
}
}

.contact {
    float: left;
    width: 100%;
    background-color: #fbfbfb;
}

.contact .contact-content {
    margin: auto;
    max-width: 650px;
}

.contact .contact-content input,
.contact .contact-content textarea {
    height: 50px;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    display: block;
    width: 100%;
    background-color: #959ca5;
    transition: border .5s ease;
    border: 1px solid #ffffff;
}

.contact .contact-content input:hover,
.contact .contact-content textarea:hover {
 border-color: #1b8bf3;
}

.contact .contact-content input:focus,
.contact .contact-content textarea:focus {
 border-color: #1b8bf3;
}

.contact .contact-content textarea {
    height: 100px;
}

.contact .contact-content button {
display: block;
margin: auto;
}

@media only screen and (max-width:1024px) {
    /* For tablets: */
  
  .contact .contact-content {
    width: 100%
  }
  }

@media only screen and (max-width:800px) {
  /* For tablets: */

.contact .contact-content {
  width: 100%
}
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
.contact .contact-content {
  width: 100%
}
}

/*Footer Section*/


footer {
    float: left;
    width: 100%;
    background-color: #fafafa;
}

footer .footer-content {
    float:left;
    width: 100%;
}

footer .footer-content .box {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: center;
}

footer .footer-content .box .icon span {
    font-size: 25px;
    color: #1b8bf3;
}

footer .footer-content .box h4 {
    color: #1b8bf3;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0;
    letter-spacing: 1px;
}
footer .footer-content .box p {
    color: #1b8bf3;
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
    letter-spacing: 1px;
}

footer .social-links {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #353535;
    padding-top: 15px;
}

footer .social-links ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

footer .social-links ul li {
    display: inline;
}

footer .social-links ul li a {
    display: inline-block;
    padding: 15px 15px;
}

footer .social-links ul li a span {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #1b8bf3;
    color: #1b8bf3;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    transition: all .5s ease;
}

footer .social-links ul li a span:hover {
    background-color:#1b8bf3;
    color: #ffffff;
}



@media only screen and (max-width:1024px) {
    /* For tablets: */
  
  footer .footer-content .box {
      width: 100%;
  }
      footer .social-links {
      width: 100%;
      }
  }

@media only screen and (max-width:800px) {
  /* For tablets: */

footer .footer-content .box {
    width: 100%;
}
    footer .social-links {
    width: 100%;
    }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
footer .footer-content .box {
    width: 100%;
}
    footer .social-links {
        width: 100%;
    }
    
}





@media(max-width: 991px){

    .trigger-main{
        display: block;
        position: absolute;
        top:15px;
        right: 15px;
    }
    header.container{
        position: relative;
    }

    header{
        position: fixed;
        background-color:  #554c4c;
    }

    header .navbar{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 188px;
        background-color: #554c4c;
        z-index: 200;
        padding-top: 80px;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        transition: transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
    }
    header .navbar.open{
       -webkit-transform: translateX(0);
       transform: translateX(0);
    }
    header .navbar ul li{
        display: block;
    }

    .trigger-main a{
        display: inline-block;
        position: relative;
        z-index: 210;
    }
    
    .trigger-main a span{
        display: block;
        height: 2px;
        width: 30px;
        background-color: #1b8bf3;
        margin-bottom: 8px;
        transition: transform .5s ease;
        -webkit-transition: transform .5s ease;
    }
    .trigger-main a span:nth-child(1){
        transform-origin: left top;
    }
    .trigger-main a span:nth-child(2){
        transform-origin: left bottom;
    }
    
    .trigger-main a.active span:nth-child(1){
        -webkit-transform: rotate(45deg) translateY(-7px);
        transform: rotate(45deg) translateY(-7px);
    }
    .trigger-main a.active span:nth-child(2){
        -webkit-transform: rotate(-45deg) translateY(7px);
        transform: rotate(-45deg) translateY(7px);
    }
}

 